<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    {# Bootstrap CSS  #}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
          integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    {# JS: jQuery, popper, bootstrap  #}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"
            integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
            crossorigin="anonymous"></script>

    <title>eKurser</title>
</head>
<body>
<br>
<div class="container">
    <p><a href="{% url 'student_home' %}" role="button" class="btn btn-primary btn-lg">Student</a>
        <a href="#" role="button" class="btn btn-primary btn-lg">Pracownik</a>
    </p>
    <p>
        <a href="{% url 'clear' %}" role="button" class="btn btn-primary btn-lg">Zresetuj bazę danych</a>
    </p>
</div>

</body>
</html>